<div class="list-group">
	<% churches.each do |church| %>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading"><%= post.user.name %></h4>
	    <p class="list-group-item-text">
	    	<%= church.name %><br/>
			 	<%= church.description %>
	    </p>
	  </a>
  <% end %>
</div>
