<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h3>Dont see the church you are looking for?</h3>
      <%= link_to "Create New Church", new_church_path, class: "btn1 btn-center"  %>
    </div>
  </div>
</div>
