<div class="row">
  <%= form_tag churches_path, class: "apply-form form-group", :method => :get do %>
    <div class="col-lg-6" id="search-box">
      <%= submit_tag "Discover", class: "btn1 btn-center" %>
    </div>
    <div class="col-lg-6" id="search-box">
      <%= text_field_tag :near, params[:near], id: "location", class: "form-control",
       placeholder: 'City or Zip Code' %>
    </div>
  <% end %>
</div>
