
<div class="form-group">
	<%= form_tag churches_path, :method => :get do %>
	  <div class="row-fluid">
		  <div class="span4">
		    <%= text_field_tag :near, params[:near], class: "form-control" %>
		    <%= submit_tag "Search", :name => nil, class: "btn btn-primary"  %>
		  </div> 
	  </div> 
	<% end %>
</div>	