  <!-- Contact info -->
  <div class="cinfo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="contact-info">
            <li><i class="fa fa-phone"></i> +1800 1234 5678 <br>+1800 1234 5679 (FAX)</li>
            <li><i class="fa fa-envelope-o"></i> info@website.com <br>support@website.com</li>
            <li><i class="fa fa-map-marker"></i> Xyz Publishing Ltd <br> #123 ABC Sreet, Country, NW 12345</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Contact info -->
