<div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Subscribe and get updates on chuych.</h3>
        </div>
        <div class="col-lg-6">
          <form class="newsletter-form" action="php/subscribe.php" id="invite" method="POST">
            <input type="text" placeholder="Email Address" name="email" id="address" data-validate="validate(required, email)"/>
            <button type="submit" class="btn btn3"><i class="fa fa-envelope-o"></i> Join</button>
            <span id="result"></span>
          </form>
        </div>
      </div>
    </div>
  </div>
