<div class="body">
  <!-- Top Content -->
  <div class="intro">
    <!-- Header -->
    <%= render "layouts/header" %>
    <% if !current_user %>
      <%= render "top_content" %>
    <% end %>
  </div>

  <!-- Churches -->
  <% if current_user %>
    <%= render "churches/index" %>
  <% end %>

  <!-- Subscribe -->
  <%= render "subscribe" %>
</div>

  <!-- FYI: Removed partials -->
    <!-- Faq Content -->
    <!-- Author Content -->
    <!-- Clients content -->
    <!-- Pricing Content -->
    <!-- Partners Content -->
    <!-- Info Content -->


