<div class="jumbotron">
	<center>
		<h1>Welcome to Chuych</h1>
		<p>"We put a Y in church"</p>
	</br>
	<% unless user_signed_in? %>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
	</center>
</div>

<div class="row">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
      <li><a href="#churches" data-toggle="tab">Churches</a></li>

    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="posts">
				<%= render partial: 'posts/posts', locals: {posts: @posts} %>
			</div>
			<div class="tab-pane" id="churches">
				<%= render partial: 'churches/churches', locals: {churches: @churches} %>
			</div>
		</div>
	</div>
</div>	


