<div class="body">

  <!-- Top Content -->
  <div class="intro">
    <!-- Header -->
    <nav class="navbar navbar-default navbar-top header" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="./index.html"><i class="fa fa-book"></i> chuych</a>
        </div>
        <ul class="header-nav">
          <li><a><i class="fa fa-twitter"></i> twitter</a></li>
          <li><a><i class="fa fa-facebook"></i> facebook</a></li>
          <li><a href="mailto:hello@briandouglas.me"><i class="fa fa-envelope-o"></i> hello@chuych.com </a></li>
          <li class="purchase"><a href="#" target="_blank"><i class="fa fa-book"></i> Blog</a></li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="container">
      <div class="row top-wrap">
        <div class="col-lg-7">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li><img src="demo/slide/1.png" alt="" /></li>
              <li><img src="demo/slide/2.png" alt="" /></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="order-wrap">
            <h2>discover a church</h2>
            <form class="apply-form form-group" method="post" action="php/contact.php">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="firstname" class="form-control" placeholder="First Name" required="required">
                </div>
                <div class="col-lg-6">
                  <input type="text" name="lastname" class="form-control" placeholder="Last Name" required="required">
                </div>
              </div>
              <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
              <select name="booklist" class="form-control" >
                <option value="No&nbsp;book&nbsp;Selected">Select a book</option>
                <option value="Wordpress&nbsp;installation&nbsp;ebook">Wordpress installation ebook</option>
                <option value="Learn&nbsp;to&nbsp;be&nbsp;a&nbsp;rockstart">Learn to be a rockstart</option>
                <option value="Some&nbsp;ebook&nbsp;name">Some ebook name</option>
              </select>
              <textarea rows="2" name="message" class="form-control" placeholder="Question? If any.."></textarea>
              <div class="form-btn">
                <button type="submit" class="btn1 btn-center" href="#">Search</button>
              </div>
            </form>
            <div id="loading"><span>Sending your message....</span></div>
            <div id="success"><span><i class="fa fa-check"></i> <span></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Top Content -->

  <!-- Services -->
  <div id="services" class="services">
    <!-- Welcome Content -->
    <div class="text-center welcome">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="icon-center"><i class="fa fa-book"></i></div>
            <h2>A clean &amp; simple landing page</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Welcome Content -->

    <!-- Services Content -->
    <div class="container">
      <div class="row">
        <!-- Service - 1 -->
        <div class="col-lg-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-desktop"></i>
            <h4>Responsive Design</h4>
            <p>Sed dolor nisl, blandit nec lacus erat nulla viverra massa vitae diam aliquam ullam corper.</p>
          </div>
        </div>
        <!-- Service - 2 -->
        <div class="col-lg-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-rocket"></i>
            <h4>Quick Launch</h4>
            <p>Sed dolor nisl, blandit nec lacus erat nulla viverra massa vitae diam aliquam ullam corper.</p>
          </div>
        </div>
        <!-- Service - 3 -->
        <div class="col-lg-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-code"></i>
            <h4>Clean Coded</h4>
            <p>Sed dolor nisl, blandit nec lacus erat nulla viverra massa vitae diam aliquam ullam corper.</p>
          </div>
        </div>
        <!-- Service - 4 -->
        <div class="col-lg-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-users"></i>
            <h4>Clients Loving</h4>
            <p>Sed dolor nisl, blandit nec lacus erat nulla viverra massa vitae diam aliquam ullam corper.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Content -->
  </div>
  <!-- Services -->

  <!-- Author Content -->
  <div class="author-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="img-responsive" src="demo/2.png" alt="">
        </div>
        <div class="col-lg-6">
          <h2>Hi, visitor</h2>
          <p class="lead">My Name is Maria Doe. I am the author of this book. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <h3>You can follow me on</h3>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Author Content -->

  <!-- Testimonials content -->
  <div class="section">
    <div class="container quote-main">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="icon-center"><i class="fa fa-quote-left"></i></div>
          <h2>What our readers say ?</h2>
          <br>
        </div>
        <!-- Carousel -->
        <div id="owl-example" class="owl-carousel">
          <div class="item col-lg-12">
            <div class="mb-wrap blockquote-style">
              <div class="mb-thumb1"></div>
              <blockquote cite="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus pellen tesque justo.</p>
              </blockquote>
              <div class="mb-attribution">
                <p class="mb-author">Sherry Taylor</p>
                <cite>Xyz , Founder</cite>
              </div>
            </div>
          </div>
          <div class="item col-lg-12">
            <div class="mb-wrap blockquote-style">
              <div class="mb-thumb2"></div>
              <blockquote cite="#">
                <p>Integer auctor, purus a mattis aliquet, augue ligula tincidunt elit, vitae lacinia lacus massa at nibh.</p>
              </blockquote>
              <div class="mb-attribution">
                <p class="mb-author">Michael Smith</p>
                <cite>Abc , Manager</cite>
              </div>
            </div>
          </div>
          <div class="item col-lg-12">
            <div class="mb-wrap blockquote-style">
              <div class="mb-thumb3"></div>
              <blockquote cite="#">
                <p>Sed vehicula, ipsum sed tristique blandit, sapien neque porta diam, vel fermentum neque nulla ut risus.</p>
              </blockquote>
              <div class="mb-attribution">
                <p class="mb-author">Sandra Doe</p>
                <cite>Def , Novelist</cite>
              </div>
            </div>
          </div>
          <div class="item col-lg-12">
            <div class="mb-wrap blockquote-style">
              <div class="mb-thumb4"></div>
              <blockquote cite="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus pellen tesque dignissim.</p>
              </blockquote>
              <div class="mb-attribution">
                <p class="mb-author">Danny Taylor</p>
                <cite>Xyz , Founder</cite>
              </div>
            </div>
          </div>
          <div class="item col-lg-12">
            <div class="mb-wrap blockquote-style">
              <div class="mb-thumb5"></div>
              <blockquote cite="#">
                <p>Integer auctor, purus a mattis aliquet, augue ligula tincidunt elit, vitae lacinia lacus massa at nibh.</p>
              </blockquote>
              <div class="mb-attribution">
                <p class="mb-author">David Smith</p>
                <cite>Abc , Manager</cite>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- Testimonials content -->

  <!-- Info Content -->
  <div class="info-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <img class="img-responsive" src="demo/1.jpg" alt="">
        </div>
        <div class="col-lg-5">
          <h2>Ebook all devices<br>compatible</h2>
          <p class="lead">Lorem ipsum dolor sit amet elit. Donec ac facilisis ante. Praesent gravida tempus suscipit. Praesent vel sem id ligula malesuada vehicula at id orci. In sem quam, semper id fringilla sed, sodales a ante. Ut molestie a lorem in luctus.</p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Info Content -->

  <!-- Pricing Content -->
  <div class="pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="icon-center"><i class="fa fa-shopping-cart" style="color:#fff;border-color:#fff;"></i></div>
          <h2 style="color:#fff;">Plans & pricing</h2>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <!-- Pricing Plan - 1 -->
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Ebook version</strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$9<span class="price-cents">99</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">5 Projects</li>
              <li class="list-group-item">5 GB of Storage</li>
              <li class="list-group-item">Up to 100 Users</li>
              <li class="list-group-item">10 GB Bandwidth</li>
              <li class="list-group-item">Security Suite</li>
              <li class="list-group-item"><a class="btn2 btn-center" href="#">Order Now!</a></li>
            </ul>
          </div>
        </div>
        <!-- Pricing Plan - 3 -->
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Printed <span class="label label-success">Best Value!</span></strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$29<span class="price-cents">99</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Unlimited</li>
              <li class="list-group-item">50 GB of Storage</li>
              <li class="list-group-item">Up to 1000 Users</li>
              <li class="list-group-item">100 GB Bandwidth</li>
              <li class="list-group-item">Security Suite</li>
              <li class="list-group-item"><a class="btn2 btn-center" href="#">Order Now!</a></li>
            </ul>
          </div>
        </div>
        <!-- Pricing Plan - 4 -->
        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Epub version</strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$4<span class="price-cents">99</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Unlimited</li>
              <li class="list-group-item">150 GB of Storage</li>
              <li class="list-group-item">Unlimited</li>
              <li class="list-group-item">500 GB Bandwidth</li>
              <li class="list-group-item">Security Suite</li>
              <li class="list-group-item"><a class="btn2 btn-center" href="#">Order Now!</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Pricing Content -->

  <!-- Faq Content -->
  <div class="faq-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="icon-center"><i class="fa fa-info"></i></div>
          <h2>Frequently asked questions</h2>
          <br>
        </div>
        <div class="faq-wrap">
          <div class="col-lg-6">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <i class="fa fa-comments-o"></i> 1. What is Lorem Ipsum?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <i class="fa fa-comments-o"></i> 2. Why do we use it?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <i class="fa fa-comments-o"></i> 3. Where does it come from ?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio ligula, blandit sit amet malesuada sit amet, vestibulum quis lectus. Quisque placerat non metus sed lobortis.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 video-wrap">
            <div class="video">
              <iframe frameborder="0" height="300" src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500" ></iframe>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- Faq wrap content end -->
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Faq Content -->

  <!-- Newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Subscribe and get first two chapters for free.</h3>
        </div>
        <div class="col-lg-6">
          <form class="newsletter-form" action="php/subscribe.php" id="invite" method="POST">
            <input type="text" placeholder="Email Address" name="email" id="address" data-validate="validate(required, email)"/>
            <button type="submit" class="btn btn3"><i class="fa fa-envelope-o"></i> Join</button>
<span id="result"></span>
          </form>


        </div>
      </div>
    </div>
  </div>
  <!-- Newsletter -->

  <!-- Clients content -->
  <div class="container clients">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="icon-center"><i class="fa fa-users"></i></div>
        <h2>Our Awesome Partners</h2>
        <br>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/1.png" alt=""></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/2.png" alt=""></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/3.png" alt=""></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/4.png" alt=""></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/5.png" alt=""></a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="#"><img class="img-responsive img-client" src="demo/clients/6.png" alt=""></a>
      </div>
    </div>
  </div>
  <!-- Clients content -->

  <!-- Contact info -->
  <div class="cinfo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="contact-info">
            <li><i class="fa fa-phone"></i> +1800 1234 5678 <br>+1800 1234 5679 (FAX)</li>
            <li><i class="fa fa-envelope-o"></i> info@website.com <br>support@website.com</li>
            <li><i class="fa fa-map-marker"></i> Xyz Publishing Ltd <br> #123 ABC Sreet, Country, NW 12345</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Contact info -->

  <!-- Footer Content -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline cinfo-social-buttons pull-center">
            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i></a></li>
            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a></li>
          </ul>
          <p class="copyright text-center medium">Copyright &copy; <a href="#">chuych</a> 2013. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Content -->
</div>

<!-- JavaScript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
<script src='js/jquery.easing.1.3.js'></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.html5-placeholder-shim.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ketchup.all.min.js"></script>
<script src="js/main.js"></script>


