
<div class="container-full">
      <div class="row"> 
				<!-- <div class="jumbotron"> -->
	        <div class="col-lg-12 text-center v-center">
            <img src="http://i.imgur.com/cKnDmG3.jpg" title="church app"/>
	          <!-- <h1>Welcome to Chuych</h1> -->
            <br/><br/><br/>
	         <!--  <p class="lead">
              sign up for to have first access to our Easter beta.
            </p> -->
	          
	          <form class="col-lg-12">
	            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
	              <span class>
                  <%= link_to "Sign Up for Access to the Alpha", 'http://eepurl.com/QY__b', class: "btn btn-danger btn-lg" %>
                </span>
	          </form>
	        </div>
	      <!-- </div>  --> 
      </div> <!-- /row -->
  
  	  <div class="row"><!-- /missing icons -->
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a>
          <a href="http://facebook.com/hellochuych"><i class="icon-facebook"></i></a>  
          <a href="http://twitter.com/brianllamar"><i class="icon-twitter"></i></a> 
        </div>
      </div>
  	
</div> <!-- /container full -->

<div class="container">
  	<hr>
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <%= image_tag('http://i.imgur.com/nmbfLRC.jpg', size: "285x200") %>
            <div class="panel-heading"><h3>Find</h3></div>
            <div class="panel-body">There's no longer a need to spend years visiting churches. Search your city and find the top rated churches based on your criteria. 
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Share</h3></div>
            <div class="panel-body"><%= image_tag('http://i.imgur.com/M6cBkRJ.jpg', size: "285x200") %><br/><br/>Did you hear a good sermon on Sunday? Share some of your notes or just tell everyone else how much you like it.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <%= image_tag('http://i.imgur.com/otY9G5V.jpg', size: "285x200") %>
            <div class="panel-heading"><h3>Promote</h3></div>
            <div class="panel-body">Help with your church growth by promoting events and different ministries within the church. How many times have you heard drove by a church for 2 years before you finally walking in the door. Help other walk in sooner.
            </div>
          </div>
        </div>
    </div>
  
	
</div>

