
<!--this is a file to represent how my old church partials looked. I prefer the list but am saving this info just incase.-->

<div class="list-group">
	<% churches.each do |church| %>

	<ul class="churchList">
		<!-- <li class> -->
			<div class="churchPhotoWrapper">
	        <div class="col-md-4">
	          <div class="panel panel-default">
	            <div class="panel-heading"><h3><%= link_to church.name, church %></h3></div>
	            <div class="panel-body">
	            	<p>
	            		<%= link_to church.city, churches_path(near: church.city) %><br/>
								 	<%= church.description %>
							  </p>
								  <%= render partial: 'favorites/favorite', locals: { church: church } %>

						  </div>
						</div>
					</div>	
			</div>
		<!-- </li>		 -->
	</ul>			  

  <% end %>
</div>
