<%= form_for @posts do |f| %>
	<div class="form-group">
    <%= f.label :body, 'Post' %>
    <%= f.text_field :body, class: "form-control", placeholder: 'How was church?' %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>