
<div class="box panel panel-default">
	<div class="list-group">
		<ul>
			<% posts.each do |post| %>
			 <li class="list-group-item">
			 	<%= post.body %><br/>
			 	<%= post.user %>

			 </li>

		 	<% end %>
		</ul>
 	</li>		
</div>