@import "bootstrap";

.nav {
  margin-top: 5px;
}

.favorite {
  margin-top: 20px;
}

head {
	font-family: helvetica;
}

img { 
	border: 1px solid black;
  border-radius: 40px;
  margin: 0px 10px 0px 10px;
}

