<nav class="navbar navbar-default navbar-top header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="./index.html"><i class="fa fa-book"></i> chuych</a>
    </div>
    <ul class="header-nav">
      <li><a><i class="fa fa-twitter"></i> twitter</a></li>
      <li><a><i class="fa fa-facebook"></i> facebook</a></li>
      <li><a href="mailto:hello@briandouglas.me"><i class="fa fa-envelope-o"></i> hello@chuych.com </a></li>
      <li class="purchase"><a href="/users/login"><i class="fa sign-in"></i> Sign In</a></li>
    </ul>
  </div>
</nav>
